<script>
    window.newtube = "<%= image_url('NewTubeLogo.png') %>"
    window.hamburger = "<%= image_url('hamburger.png') %>"
    window.videoPlus = "<%= image_url('videoPlus.png') %>"
</script>
<div id='root'>yaint supposed to see this
</div>