.comment-form-container {
    display: flex;
    margin-bottom: 32px;
}

.comment-form-icon {
    font-size: 40px;
    margin-right: 16px;
}

.comment-form {
    width: 100%;
}



.comment-box {
    width: 100%;
    height: 22.5px;
    border: none;
    resize: none;
    overflow: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid rgb(240, 240, 240);
    margin-bottom: 8px;
    background-color: #f9f9f9;
}

.comment-box:focus {
    border-bottom: 2px solid black;
    transition: 0.15s;
}

.comment-box:not(:focus) {
    transition: 0.15s;
}

.comment-buttons-hidden {
    display: none;
}

.comment-buttons {
    display: flex;
    justify-content: flex-end;
}

.comment-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 37px;
    border: none;
    margin-right: 8px;
    color: #606060;
    font-size: 14px;
    background-color: #fff;
    font-weight: 600;
}

.comment-cancel:hover {
    cursor: pointer;
}

.comment-cancel:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}

.comment-cancel:not( :active ) {
    transition: 0.25s;
}

.comment-submit {
    width: 101px;
    height: 37px;
    border: none;
    background-color: #065fd4;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
}

.not-comment-submit {
    pointer-events: none;
    width: 101px;
    height: 37px;
    border: none;
    background-color: #ccc;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
}

.comment-index-item {
    display: flex;
    margin-bottom: 16px;
}

.comment-index-link {
    text-decoration: none;
}

.comment-index-username-link {
    text-decoration: none;
    color: #222222;
}

.comment-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    width: 40px;
    min-width: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
    font-weight: 300;
    margin-right: 20px;
}

.comment-content {
    width: 100%;
    overflow-wrap: break-word;
}

.ellipsis-test {
    font-size: 100px;
}


.comment-ellipsis-anchor {
    display: block !important;
}

.hide-ellipsis {
    display: none;
}

.ellipsis-container {
    position: relative;
}

.parent-comment-container:hover .hide-ellipsis {
    display: block;
}

.comment-username-date-container {
    display: flex;
    justify-content: space-between;
}

.comment-username-date-content {
    display: flex;
}

.comment-username {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 4px;
}

.comment-date {
    font-size: 13px;
    color: #909090;
}

.comment-ellipsis {
    position: relative;
    left: 0px;
    color: #606060;
}

.comment-ellipsis:hover {
    color: #303030;
    cursor: pointer;
}

.comment-body {
    font-size: 14px;
    line-height: 1.3;
}

.comment-reply-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 13px;
    color: #606060;
    width: 60px;
    border-radius: 3px;
}

.comment-reply-button:hover {
    cursor: pointer;
}

.comment-reply-button:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}

.comment-reply-button:not( :active ) {
    transition: 0.25s;
}

.comment-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -18px;
    margin-top: 4px;
    height: 32px;
}

/* COMMENT DELETE POP UP */

.comment-delete-pop-up {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0px 36px 0px 16px;
    width: 80px;
    height: 52px;
    background: white;
    border-radius: 5px;
    top: 25px;
    left: -20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.comment-delete-pop-up:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.comment-delete-pop-up-icon {
    margin-right: 16px;
    font-size: 16px;
    color: #606060;
}

.comment-delete-pop-up-text {
    font-size: 14px;
    color: #030303;
}