.modal-side-bar-container {
    position: absolute;
    width: 240px;
    height: 100vh;
    background-color: white;
    animation: slide 0.25s;
}

.modal-side-bar-links {
    padding-top: 20px;
    height: 270px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
}

.modal-side-bar-link {
    display: flex;
    align-items: center;
    outline: none !important;
    text-decoration: none;
    height: 40px;
    padding: 0 24px;
    margin-bottom: 10px;
}

.modal-side-bar-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.modal-side-bar-link:hover > .modal-side-bar-icon {
    color: red;
}

.modal-side-bar-icon {
    margin-right: 30px;
    font-size: 16px;
    color: #606060;
}

.modal-side-bar-title {
    font-size: 14px;
    color: #030303;
    padding-top: 1px;
}

.modal-side-bar-subscriptions {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-side-bar-subscriptions-header {
    padding: 8px 24px;
    font-size: 14px;
    color: #606060;
    font-weight: 500;
}

.modal-side-bar-sub-link {
    padding: 0px 24px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    outline: none !important;
}

.modal-side-bar-sub-link:hover {
    background-color: rgba(0, 0, 0, 0.05);

}

.modal-side-bar-sub-icon {
    margin-right: 24px;
    width: 24px;
    height: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 300;
}

.modal-side-bar-sub-name {
    font-size: 14px;
    color: #030303;
}

@keyframes slide {
    from { transform: translateX(-100%) }
    to { transform: translateX(0) }
}

@keyframes reverseSlide {
    from { transform: translateX(0) }
    to { transform: translateX(-100%) }
}
