.dropdown-show {
    display: block;
    position: fixed;
    right: 75px;
    top: 8px;
    z-index: 40;
    height: 300px;
    width: 300px;
    background: rgba(255, 255, 255, 0.98);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.dropdown-hidden {
    display: none;
}

.profile-menu-icon {
    color: white;
    background-color: red;
    height: 40px;
    width: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
}

.profile-letter {
    padding-top: 8px;
}

.profile-menu-icon:hover {
    cursor: pointer;
}