.dropdown-show {
    display: block;
    position: absolute;
    right: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    top: 45px;
    z-index: 99;
    width: 300px;
    background-color: white;
    
}


.profile-menu-icon {
    color: white;
    background-color: red;
    height: 40px;
    width: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
    font-weight: 300;
}

.profile-letter {
    padding-top: 8px;
}

.profile-menu-icon:hover {
    cursor: pointer;
}

.dropdown-user-info {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 120px;
}

.dropdown-credentials {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dropdown-username {
    font-weight: 550;
    font-size: 16px;
}

.dropdown-email {
    margin-top: 6px;
    font-size: 14px;
}

.dropdown-google-account {
    margin-top: 12px;
    font-size: 14px;
    color: blue;
}

.dropdown-google-account:hover {
    cursor: pointer;
}

.dropdown-hidden {
    display: none;
}


.user-icon {
    font-size: 40px;
    margin: 20px;
}

.dropdown-channel {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.dropdown-channel:hover {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.1);
}

.dropdown-logout {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.dropdown-logout:hover {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.1);
}

.dropdown-github-link {
    display: block;
    text-decoration: none;
    outline: none !important;
}

.dropdown-github { 
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none !important;
    color: black;
    font-size: 14px;
}

.dropdown-github:active {
    color: black;
}

.dropdown-github-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.dropdown-github:hover {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.1);
}

.dropdown-icon {
    font-size: 24px;
    margin: 10px;
}

.dropdown-logout .dropdown-icon {
    font-size: 20px;
}

