.dropdown-show {
    display: block;
    position: absolute;
    right: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    top: 45px;
    z-index: 99;
    height: 500px;
    width: 300px;
    background-color: white;
    
}

.dropdown-hidden {
    display: none;
}

.profile-menu-icon {
    color: white;
    background-color: red;
    height: 40px;
    width: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
}

.profile-letter {
    padding-top: 8px;
}

.profile-menu-icon:hover {
    cursor: pointer;
}