.reply-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 24px;
    width: 24px;
    min-width: 24px;
    font-size: 12px;
    text-align: center;
    border-radius: 12px;
    font-weight: 300;
    margin-right: 10px;
}

.reply-submit {
    width: 70px;
}

.reply-container {
    margin: 0px;
}

.replies-button-toggle {
    display: flex;
    align-items: center;
    color: #065fd4;
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    width: 200px;
}

.replies-arrow-down {
    position: relative;
    bottom: 4px;
    margin-right: 10px;
}

.replies-arrow-up {
    position: relative;
    margin-right: 10px;
    top: 1px;
}

.replies-button-toggle:hover {
    cursor: pointer;
}

.reply-index-container {
    margin-top: 24px;
}

.reply-index-item {
    display: flex;
}
