.sign-in-container {
    width: 100%;
}



.session-form {
    display: block;
    width: 100%;
}

.session-newtube-logo {
    outline: none !important;
}

.form-sign-up {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #dadce0;
    margin: 0 auto;
    min-height: 0;
    width: 450px;
    height: 700px;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 1px 1px rgb(216, 215, 215);
    background-color: white;
}

.form-sign-in {
    position: relative;
    top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #dadce0;
    margin: 0 auto;
    min-height: 0;
    width: 450px;
    height: 550px;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 1px 1px rgb(216, 215, 215);
    background-color: white;
}

.sign-up-container {
    width: 100%;
    background-color: white;
    height: 100vh;
}

#signup-logo {
    margin-top: 60px;
    width: 80px;
    height: 20px;
}

#signin-logo {
    margin-top: 60px;
    width: 80px;
    height: 20px;
}

.sign-in-title {
    font-size: 24px;
    margin-top: 10px;
}

.sign-in-subtitle {
    font-size: 16px;
}



.input-email input{
    margin-top: 30px;
    width: 332px;
    height: 50px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding-left: 18px;
}

.error-container {
    display: flex;
}

.show {
    visibility: visible;
}

.error {
    font-size: 12px;
    margin-left: 8px;
    color: red;
}

.error-icon {
    font-size: 12px;
    color: red;
}

.border-error {
    border: 1px solid red !important;
}

.border-error:focus {
    box-shadow: 0 0 0 0 red !important;
}

.form-sign-in > label input:focus {
    outline: none;
    box-shadow: 0 0 0 2px blue;
}

.fullname-container {
    width: 352px;
    display: flex;
    justify-content: space-between;
}

.input-first-name input {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding-left: 18px;
}

.input-last-name input {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding-left: 18px;
}

.input-username input {
    margin-top: 30px;
    width: 332px;
    height: 50px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding-left: 18px;
}

.input-password input {
    margin-top: 30px;
    width: 332px;
    height: 50px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding-left: 18px;
}

.form-sign-up input:focus{
    outline: none;
    box-shadow: 0 0 0 2px blue;
  }


input::placeholder {
    color: #858688;
    font-size: 16px;
}

.form-buttons {
    display: flex;
    margin-top: 30px;
    width: 350px;
    justify-content: space-between;
}

.log-in-btn {
    width: 90px;
    height: 36px;
    background-color: #1A73E8;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: none;
    font-size: 13px;
    border-radius: 4px;
}

.sign-up-link {
    text-decoration: none;
    color: #1A73E8;
    font-size: 14px;
    padding-top: 10px;
    outline: none !important;
}

.demo-login-form {
    margin-top: 10px;
    width: 350px;
}

.demo-login-button {
    color: #1a73e8;
}

.demo-login-button:hover {
    cursor: pointer;
}

.errors-signin {
    margin-top: 15px;
    color: red;
}

.errors-container {
    margin-top: 14px;
    width: 350px;
    list-style: circle;
}

.signup-errors {
    color: red;
}
