.videoshow-container {
    position: relative;
    top: 58px;
    min-width: 800px;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.videoshow-left-box {
    height: 100%;
    width: 75%;
    min-width: 600px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

.videoshow-info {
    padding-top: 20px;
    padding-bottom: 8px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.videoshow-title {
    font-size: 18px;
}

.videoshow-player {
    display: flex;
    background-color:black;
}

.videoshow-views-likes-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.videoshow-views {
    font-size: 14px;
    color: #606060;
    display: flex;
    align-items: center;
}

.videoshow-likes-options {
    display: flex;
    align-items: center;
}

.videoshow-views-dot {
    display: block;
    height: 3px;
    width: 3px;
    background-color: #606060;
    margin: 5px;
    border-radius: 100%;
}

.videoshow-date {
    font-size: 14px;
    color: #606060;
}

/* repeating code, must refactor later */
.video-option-icons {
    padding: 8px;
}

.hover {
    cursor: pointer;
}

.videoshow-thumbs-up {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 59px;
    height: 36px;
}

.videoshow-thumbs-down {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 59px;
    height: 36px;
}

.videoshow-share {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 80px;
    height: 36px;
    margin-right: 8px;
    margin-left: 8px;
}

.videoshow-save {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 76px;
    height: 36px;
    margin-right: 8px;
    margin-left: 8px;
}

.videoshow-more-options {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 36px;
    height: 36px;
}

#video {
    width: 100%;
}

.videoshow-description {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.description-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

.description-user-link {
    text-decoration: none;
}

.description-user-container {
    display: flex;
    align-items: center;
}

.description-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 48px;
    width: 48px;
    min-width: 48px;
    font-size: 24px;
    text-align: center;
    border-radius: 30px;
    font-weight: 300;
    margin-right: 16px;
}

.description-username {
    font-size: 14px;
    height: 16px;
    color: #030303;
    font-weight: 500;
}

.description-sub-count {
    font-size: 13px;
    height: 18px;
    color: #606060;
}

.subscribe {
    position: relative;
}

.subscribe h4 {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: red;
    width: 105px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0 auto;
}

.subscribe-pop-up-container {
    display: none;
    flex-direction: column;
    position: absolute;
    cursor: default;
    left: 105px;
    top: -60px;
    z-index: 10;
    height: 154px;
    width: 378px;
    color: black;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.subscribe-show {
    display: flex;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    padding: 0 24px;
}

.subscribe-pop-up-query {
    margin: 24px 0 16px;
    color: #030303;
    font-size: 16px;
}

.subscribe-pop-up-description {
    margin: 4px 0 32px;
    color: #606060;
    font-size: 14px;
}

.subscribe-pop-up-sign-in {
    border-top: 1px solid #e5e5e5;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 40px;
    align-items: center;
}

.subscribe-pop-up-sign-in-link {
    color: #065fd4;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.subscribed {
    display: flex;
    align-items: center;
    border-radius: 2px;
    width: 105px;
    height: 36px;
    background-color: #e0e0e0;
    text-align: center;
    position: relative;
}

.subscribed h4 {
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    margin: 0 auto;
}

.videoshow-delete-video {
    cursor: pointer;
}

.videoshow-delete-video-text {
    background-color: #065fd4;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 3px;
}

.description {
    padding-left: 64px;
    font-size: 14px;
    line-height: 1.5;
}

.video-comment-count {
    font-size: 16px;
    margin-bottom: 24px;
}

.videoshow-right-box {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 25px;
    height: 100%;
    min-width: 400px;
    max-width: 400px;
}

.videoshow-up-next-container {
    font-size: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.videoshow-up-next-container p {
    margin-bottom: 16px;
}

.videoshow-up-next-video {
    margin-bottom: 12px;
}

.videoshow-up-next-video:hover {
    cursor: pointer;
}

.videoshow-link {
    outline: none !important;
}

.videoshow-link:hover {
    cursor: pointer;
}

.videoshow-index {
    width: 170px;
    height: 95px;
    margin-right: 10px;
    background-color: black;
}

.videoshow-index img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.videoshow-link {
    display: flex;
    text-decoration: none;
    color: black;
}

.videoshow-rec-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    max-width: 190px;
    font-weight: 500;
}

.uploader-name {
    margin-top: 6px;
    font-size: 13px;
    color: #606060;
    font-weight: 400;
}

.videoshow-rec-vid-stats {
    margin-top: 4px;
    display: flex;
    font-weight: 400;
}

.videoshow-rec-views {
    display: flex;
    color: #606060;
    font-size: 13px;
}

.videoshow-rec-timeago {
    color: #606060;
    font-size: 13px;
}

.videoshow-recommended {
    display: flex;
    flex-direction: column;
}
