.videoshow-container {
    position: relative;
    top: 58px;
    min-width: 800px;
    display: flex;
    height: 100vh;
}

.videoshow-left-box {
    height: 100%;
    width: 75%;
    min-width: 600px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

.videoshow-info {
    padding-top: 20px;
    padding-bottom: 8px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.videoshow-title {
    font-size: 18px;
}

.videoshow-player {
    display: flex;
    background-color:black;
}

.videoshow-views-likes-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.videoshow-views {
    font-size: 14px;
    color: #606060;
    display: flex;
    align-items: center;
}

.videoshow-likes-options {
    display: flex;
    align-items: center;
}

.videoshow-views-dot {
    display: block;
    height: 3px;
    width: 3px;
    background-color: #606060;
    margin: 5px;
    border-radius: 100%;
}

.videoshow-date {
    font-size: 14px;
    color: #606060;
}

/* repeating code, must refactor later */
.video-option-icons {
    padding: 8px;
}

.hover {
    cursor: pointer;
}

.videoshow-thumbs-up {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 59px;
    height: 36px;
}

.videoshow-thumbs-down {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 59px;
    height: 36px;
}

.videoshow-share {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 80px;
    height: 36px;
    margin-right: 8px;
    margin-left: 8px;
}

.videoshow-save {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 76px;
    height: 36px;
    margin-right: 8px;
    margin-left: 8px;
}

.videoshow-more-options {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #606060;
    width: 36px;
    height: 36px;
}

#video {
    width: 100%;
}

.videoshow-description {
    padding-top: 16px;
}

.description-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.description-user-container {
    display: flex;
    align-items: center;
}

.description-user-icon {
    font-size: 48px;
    margin-right: 16px;
}

.description-username {
    font-size: 14px;
    height: 16px;
    color: #030303;
    font-weight: 500;
}

.description-sub-count {
    font-size: 13px;
    height: 18px;
    color: #606060;
}

.subscribe {
    display: flex;
    align-items: center;
    border-radius: 2px;
    width: 105px;
    height: 36px;
    background-color: red;
    text-align: center;
}

.subscribe h2 {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0 auto;
}

.videoshow-right-box {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 25px;
    height: 100%;
    min-width: 400px;
    max-width: 400px;
}

.videoshow-up-next-container {
    font-size: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.videoshow-up-next-container p {
    margin-bottom: 16px;
}

.videoshow-up-next-video {
    margin-bottom: 12px;
}

.videoshow-link {
    outline: none !important;
}

.videoshow-index {
    width: 170px;
    height: 95px;
    margin-right: 10px;
}

.videoshow-index video {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    overflow: hidden;
}

.videoshow-link {
    display: flex;
    text-decoration: none;
    color: black;
}

.videoshow-rec-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    max-width: 190px;
    font-weight: 500;
}

.uploader-name {
    margin-top: 6px;
    font-size: 13px;
    color: #606060;
    font-weight: 400;
}

.videoshow-rec-vid-stats {
    margin-top: 4px;
    display: flex;
    font-weight: 400;
}

.videoshow-rec-views {
    display: flex;
    color: #606060;
    font-size: 13px;
}

.videoshow-rec-timeago {
    color: #606060;
    font-size: 13px;
}

.videoshow-recommended {
    display: flex;
    flex-direction: column;
}
