.video-index-recommended-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    min-width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #f9f9f9
}

.video-index-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-section {
    
}

.video-recommended h2 {
    margin-top: 30px;
    margin-left: 4px;
    font-weight: 500;
    font-size: 20px
}
.video-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: 310px;
    height: 280px;
    outline: none !important;
}

.video-index-videos {
    margin-top: 20px;
}

.video-container {
    outline: none;
    margin-bottom: 40px;
    
    margin-right: 5px;
    margin-left: 5px;
}

.video-container:hover {
    cursor: pointer;
}

.video-index {
    overflow: hidden;
    width: 100%;
    height: 180px;
    background-color: black;
    margin-bottom: 15px;
}

.video-index img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 28px;
    width: 28px;
    min-width: 28px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    font-weight: 300;
    margin-right: 8px;
}

.video-info {
    
}

.video-info-top-row {
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.video-index-title {
    margin-top: 5px;
}

.video-index-uploader {
    margin-top: 10px;
    font-weight: 400;
    color: #606060;
}

.video-index-views-date-container {
    margin-top: 4px;
    display: flex;
    color: #606060;
    font-weight: 400;
}

